body {
 display: flex;
 justify-content: center;
}

.air {
  width: 400px;
}

.row {
  width: 100%;
  display: flex;
}

.cloud {
  height: 35px;
  width: 40px;
  background-color: aqua;
}

.player {
  background-color: orange;
}

.enemy-2 {
  background-color: red;
}

.enemy-3 {
  background-color: purple;
}